.h1 {
    width: 98%;
    padding-left: 8%;
    color:#fff;
    position: relative;
    padding-top: 5%;
}

.h1:nth-child(2) {
    width: 98%;
    padding-left: 8%;
    color:#fff;
    position: relative;
    padding-top: 0%;
}


@media screen and (max-width: 900px) 
{
    .h1 {
        width: 98%;
        position: relative;
        padding-left: 5%;
        top: 100px;
        color:#fff;
        display: inline-block;
        font-size: 28px;
    }

    .h1:nth-child(2) {
        position: relative;
        top: 30px;
    }

}